<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">
    <!--order是关键字，所以为了不报错使用mybatis.order-->
    <select id="findUserByUserId" resultMap="userMap">
        <!--因为两个表中有重名的字段（id），所以使用别名区分-->

        <!--嵌套结果方式：-->
        select user.id, username, password, mybatis.order.id orderid, ordertime, total
        from user
        join mybatis.order on user.id = mybatis.order.uid
        where user.id = #{id}
    
        <!--嵌套查询方式：-->
        <!--
        select * from user where id =#{id}
        -->
    </select>
    <resultMap id="userMap" type="com.mybatis.pojo.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
    
        
        <!--嵌套结果方式：-->
        <collection property="orders" ofType="com.mybatis.pojo.Order">
            <id property="id" column="orderid"></id>
            <result property="orderTime" column="ordertime"></result>
            <result property="total" column="total"></result>
        </collection>
    
        
        <!--嵌套查询方式：-->
        <!--<collection property="orders" column="id" ofType="com.mybatis.pojo.Order"
                    select="com.mybatis.mapper.OrderMapper.selectOrderByUid">
        </collection>-->
    </resultMap>
    
    <select id="selectUserById" resultType="com.mybatis.pojo.User">
        select *
        from user
        where id = #{id}
    </select>
</mapper>