<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">
    <select id="findByCondition" resultType="com.mybatis.pojo.User">
        <!--select * from user where 1=1
        <if test="id!=0">&lt;!&ndash;int数据类型的默认值为0&ndash;&gt;
            and id=#{id}
        </if>
        <if test="username!=null">
            and username=#{username}
        </if>
        <if test="password!=null">
            and password=#{password}
        </if>-->
        select * from user
        <!--<where>
            <if test="id!=0">&lt;!&ndash;int数据类型的默认值为0&ndash;&gt;
                and id=#{id}
            </if>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
        </where>-->
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id!=0"><!--int数据类型的默认值为0-->
                and id=#{id}
            </if>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
        </trim>
    </select>
    
    <select id="findByChoose" resultType="com.mybatis.pojo.User">
        select * from user
        <where>
            <choose>
                <when test="id!=0"><!--int数据类型的默认值为0-->
                    id=#{id}
                </when>
                <when test="username!=null and username!=''">
                    username=#{username}
                </when>
                <when test="password!=null and password!=''">
                    password=#{password}
                </when>
                <otherwise>
                
                </otherwise>
            </choose>
        </where>
    </select>
    
    <select id="findByIds" resultType="com.mybatis.pojo.User">
        /*select *
        from user*/
        <include refid="selectUser"></include>
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    
    <sql id="selectUser">
        select *
        from user
    </sql>
    
    <select id="selectByIdAndUsername" resultType="com.mybatis.pojo.User">
        select *
        from user
        where id = #{arg0}
        and username = #{param2}
    </select>
    
    <select id="selectByIdAndUsernameByAnno" resultType="com.mybatis.pojo.User">
        select *
        from user
        where id = #{id}
        and username = #{username}
    </select>
    
    <select id="selectByIdAndUsernameByMap" resultType="com.mybatis.pojo.User">
        select *
        from user
        where id = #{id}
        and username = #{username}
    </select>
    
    <select id="selectUserByLike" resultType="com.mybatis.pojo.User">
        select *
        from user
        where username like "%"#{username}"%"
    </select>
    
    
    <insert id="insertUser" keyProperty="id" useGeneratedKeys="true">
        insert into user (username, password)
        values (#{username}, #{password})
    </insert>
</mapper>
